.form-control{
    background-color: #222225;
    font-size: 16px;
    color: #FAFAFA;
    font-weight: 400;
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
}

.form-control:focus{
    border-color: #5ce0ab;
    box-shadow: 0 0 0 2px rgb(52 211 153 / 20%);
    border-right-width: 1px !important;
    color: #FAFAFA;
    outline: 0;
    background-color: #222225;
}